.about-container{
    display:flex;
    gap:100px;
}

.about-text-container{
    flex:1;
    display:flex;
    flex-direction:column;
    gap: 50px;
}

.about-title{
    font-size: 4rem;
}
.about-description{
    font-size: 20px;
    line-height: 1.75rem;
}
.subtitle{
    font-size: 24px;
    font-weight: bold;
        color: var(--btn);

    /* color: var(--text-primary); */
}

.about-description{
    font-size: 18px;
    font-weight: 300;
    /* color: var(--text-secondary); */
}

.about-image-container {
    position: relative;
    flex: 1;

}
.boxes{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.box{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box h3{
    font-size: 3rem;
    color: var(--btn);
}

.about-image{
   
   
    object-fit: cover;
   
}


@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  
  }
  .boxes{
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
}