.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  /* display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
  transition: transform 0.2s; */
}

.card-container:hover {
  transform: translateY(-5px);
}

.top-section {
  display: flex;
 
}

.imgContainer {
  width: 90%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.card-image {
  width: 95%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s; 
}

.card-container:hover .card-image {
  transform: scale(1.05);
} 

.date {

   font-size: 10px;
  writing-mode: vertical-rl; /* or vertical-lr */
  text-orientation: upright; /* keeps letters not rotated */
  color: #deaa0c;
  margin: auto;
  /* font-size: 10px;
  transform: rotate(270deg);
  margin: auto;

  color: #666; */
}

/* .bottom-section {
  padding: 20px;
} */

.card-title {
  width: 90%;
  font-size: 24px;
  margin-bottom: 20px;
  /* font-size: 24px;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.card-description {
   width: 90%;
  margin-bottom: 20px;
  font-weight: 300;
  color: gray;
  /* margin-bottom: 20px;
  font-weight: 300;
  color: #666;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; */
}

.read-more-link {
  display: inline-block;
  text-decoration: none;
  color: var(--btn);
  font-weight: 500;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.read-more-link:hover {
  border-bottom-color: #333;
}
