.links{
    display: flex;
    gap: 10px;
    align-items: center;
}

.logout{
    padding:10px;
    cursor: pointer;
    font-weight: bolder;
    margin-left: 30px;
}

/* Responsive Menu Styles for mobile links */
.responsive-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background);
    /* background-color: rebeccapurple; */
    /* make background transparent */
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    /* height: calc(100vh - 100px); */
    
}

.menu-button,
.responsive-menu {
    display: none;
}

/* .menu-icon {
  width: 25px;
  height: 25px;
 
} */

@media (max-width: 768px) {
    .links {
        display: none;
    }
    .responsive-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
            background-color: rgb(39, 43, 49);
    /* background-color: var(--background); */


       /* background-color: rgba(0, 0, 0, 0.7); */
     

       /* background-color: rgba(255, 255, 255, 0.7); */

       /* border: 2px solid rgb(17, 17, 18); */
       /* border-radius: 10px; */
    /* background-color: rebeccapurple; */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 100px;
    right: 0;
    width: 50%;
    height: calc(100vh - 100px);
    /* height: calc(100vh - 100px); */

    }

    .menu-button {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 1001;
    }

}