.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: gray;
}

.footer-logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.footer-text {
  text-align: right;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

  }
}
